{% extends 'LabsTemplateBundle::layout.html.twig' %}
{% block Title %}{{ 'Galerie upload - weddding | Legend Photography' }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/labstemplate/assets/css/admin/module.admin.page.file_managers.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}" />
{% endblock %}
{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success" role="alert">
            {% for msg in app.session.flashBag.get('success') %}
                <strong> Succès </strong>{{ msg }}.
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="bg-white content-heading border-bottom">Dashboard</h1>
    <div class="bg-white innerAll border-bottom">
        <ul class="menubar">
            <li class="active"><a href="">Dashboard</a></li>
            <li><a href="{{ path('events_index') }}">{{ 'Dossier Events' }}</a></li>
            <li><a href="#">{{ 'Galerie Events - Upload Photos' }}</a></li>
        </ul>
    </div>
    <div class="innerAll spacing-x2">
        <!-- Row -->
        <div class="row">
            <!-- Widget -->
            <div class="widget widget-inverse">

                <!-- Widget heading -->
                <div class="widget-head">
                    <h4 class="heading glyphicons file_import"><i></i>Uplodez photos du dossier events <strong>{{ events.name }}</strong></h4>
                </div>
                <!-- // Widget heading END -->

                <div class="widget-body">
                    <!-- Dropzone -->
                    <div id="dropzone">
                        <div action="{{path('media_event_add', {'id' : events.id })}}" class="dropzone needsclick dz-clickable" id="dropzone-upload">
                            <div class="dz-message needsclick">
                               <h3>Faites glisser des fichier ici </br> ou </br> cliquez pour selectionnez depuis l'ordinateur.<br></h3>
                                <span class="note needsclick">(uploadez seulement les photos du dossier events {{ events.name }})</span>
                            </div>
                        </div>
                    </div>
                    <div class="separator bottom"></div>
                    <div class="pull-right">
                        <a href="{{ path('event_view', {'id' : events.id}) }}" class="btn btn-primary photoViewEvent" id="photoView">{{ 'Voir Toutes les Photos du dossier events  '~ events.name }}</a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- // Dropzone END -->
                </div>
            </div>
            <!-- // Widget END -->
        </div>
        <!-- // Row END -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/labstemplate/assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/plugins/breakpoints/breakpoints.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/core/js/animations.init.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/plugins/slimscroll/jquery.slimscroll.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('js/dropzone.js') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/plugins/holder/holder.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/core/js/sidebar.main.init.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/core/js/sidebar.collapse.init.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/helpers/themer/assets/plugins/cookie/jquery.cookie.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/core/js/core.init.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}