<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Stylesheets
============================================= -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/dark.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/font-icons.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type="text/css" />

        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}{% endblock %}
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        {% block menu %}{% endblock %}

        {% block slide  %}{% endblock  %}

        <!-- Content
        ============================================= -->
        {% block body %}{% endblock %}


        <!-- Footer
        ============================================= -->
        {%  include 'LabsFrontBundle:Include:footer.html.twig' %}

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
============================================= -->
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>
    <!-- Footer Scripts
    ============================================= -->


    <script type="text/javascript" src="{{ asset('js/ajaxsubmit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/functions.js') }}"></script>

    {% block javascripts %}{% endblock %}
    </body>
</html>
