{% extends 'LabsTemplateBundle::layout.html.twig' %}
{% block Title %}{{ 'Evenements - catégories | Legend Photography' }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('bundles/labstemplate/assets/css/admin/module.admin.page.profile_resume.min.css') }}"
          xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="{{ asset('bundles/labstemplate/assets/css/admin/module.admin.page.contacts.min.css') }}"/>

{% endblock %}
{% block body %}

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success" role="alert">
            {% for msg in app.session.flashBag.get('success') %}
                <strong> Succès </strong>{{ msg }}.
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger" role="alert">
            {% for msg in app.session.flashBag.get('error') %}
                <strong> Succès </strong>{{ msg }}.
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="bg-white content-heading border-bottom">Dashboard</h1>
    <div class="bg-white innerAll border-bottom">
        <ul class="menubar">
            <li class="active"><a href="">Dashboard</a></li>
            <li><a href="{{ path('dossier_index') }}">{{ 'Dossier' }}</a></li>
        </ul>
    </div>
    <div class="innerAll spacing-x2">
        <!-- Widget -->
        <div class="widget finances_summary widget-inverse">

            <div class="row row-merge">
                <!-- col -->
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="innerAll half border-bottom">
                        <h4 class="pull-left innerT half margin-none">Dossier : {{ dossier.name }}</h4>
                        <div class="clearfix"></div>

                    </div>
                    <div class="innerAll ">
                        <p>{{ dossier.content|raw }}</p>
                        <a href="{{ path('dossier_edit', { 'id': dossier.id })  }}" class="btn btn-info btn-sm"><i class="fa fa-edit fa-fw"></i> Modifier</a>
                        {% if dossier.online == 0 %}
                            <a href="{{ path('dossier_online', { 'id': dossier.id })  }}" class="btn btn-success btn-sm"><i class="fa fa-plus fa-fw"></i> Publier</a>
                        {% endif %}
                        <a href="{{ path('media_create', { 'id': dossier.id })  }}" class="btn btn-warning btn-sm"><i class="fa fa-edit fa-fw"></i> Ajouter des photos</a>

                    </div>



                    <div class="innerAll half heading-buttons border-bottom">
                        <h4 class="margin-none pull-left"></h4>

                        <button class="btn btn-default btn-xs  pull-right"><i class="fa fa-cog "></i></button>

                        <div class="clearfix"></div>

                    </div>

                    {% for gallery in galleries %}
                        <div class="innerAll">
                            <div class="widget widget-inverse widget-gallery" data-toggle="collapse-widget">
                                <div class="widget-head">
                                    <h4 class="heading">{{ gallery.name }}</h4>
                                    <a href="{{ path('media_add', { 'dossier' : dossier.id, 'type' : gallery.id}) }}" class="btn btn-xs btn-info pull-right">
                                        <i class="fa fa-plus fa-fw"></i> {{ 'Ajouter des photos ' ~ gallery.name |upper }}
                                    </a>
                                </div>
                                <div class="widget-body">
                                    <!-- Gallery Layout -->
                                    <div class="gallery gallery-2">
                                        <ul class="row list-unstyled" data-toggle="modal-gallery" data-target="#modal-gallery" id="gallery-4" data-delegate="#gallery-4">
                                            {% for media in gallery.medias %}
                                                <li class="col-md-3">
                                                    <a class="thumb" href="{{ media.assertPath|imagine_filter('my_thumb_admin_gallery') }}" data-gallery="gallery">
                                                        <img src="{{ media.assertPath|imagine_filter('my_thumb_admin_gallery') }}" alt="photo" data-toggle="prettyPhoto" class="img-responsive"/>
                                                    </a>
                                                    <div class="description">
                                                        <a href="{{ path('update_media_status_global', { 'id' : media.id, 'dossier' : dossier.id}) }}" class="btn btn-stroke btn-circle btn-warning mediaUpdateStatus" id="mediaUpdateStatus{{ media.id }}" data-toggle="tooltip" data-original-title="Mise globale a la une" data-placement="bottom"><i class="fa  fa-check-circle"></i></a>
                                                        <a href="{{ path('update_media_status', { 'id' : media.id, 'type' : media.type.id, 'dossier' : dossier.id}) }}" class="btn btn-stroke btn-circle btn-success mediaUpdate" id="mediaUpdate{{ media.id }}" data-toggle="tooltip" data-original-title="Mettre à la une du type {{ media.type.name }}" data-placement="bottom"><i class="fa fa-check"></i></a>
                                                        <a href="{{ path('media_delete_dossier', { 'dossier' : dossier.id, 'id' : media.id } ) }}" class="btn btn-stroke btn-circle btn-danger" data-toggle="tooltip" data-original-title="Supprimer l'image" data-placement="bottom"><i class="fa fa-times"></i></a>
                                                        {% if media.actived == 1 %}
                                                            <span class="btn btn-circle btn-success" data-toggle="tooltip" data-original-title="A la une du type {{ media.type.name }}" data-placement="bottom"><i class="fa fa-certificate"></i></span>
                                                        {% endif %}
                                                        {% if media.status == 1 %}
                                                            <span class="btn btn-circle btn-inverse" data-toggle="tooltip" data-original-title="A la une global" data-placement="bottom"><i class="fa fa-bell"></i></span>
                                                        {% endif %}
                                                        <hr>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- // Gallery Layout END -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="innerAll">
                        <div class="widget widget-inverse widget-gallery" data-toggle="collapse-widget">
                            <div class="widget-head">
                                <h4 class="heading">Best Man</h4>
                                <a href="{{ path('best_create', {'id' : dossier.id}) }}" class="btn btn-xs btn-info pull-right">
                                    <i class="fa fa-plus fa-fw"></i> {{ 'Ajouter bestman'|upper }}
                                </a>
                            </div>
                            <div class="widget-body">
                                <!-- Gallery Layout -->

                                <div class="gallery gallery-2">
                                    <ul class="row list-unstyled" data-toggle="modal-gallery" data-target="#modal-gallery" id="gallery-4" data-delegate="#gallery-4">
                                        {% for man in bestMan %}
                                            <li class="col-md-3">
                                                <a class="thumb" href="{{ man.assertPath|imagine_filter('my_thumb_admin_gallery') }}" data-gallery="gallery">
                                                    <img src="{{ man.assertPath|imagine_filter('my_thumb_admin_gallery') }}" alt="photo" data-toggle="prettyPhoto" class="img-responsive"/>
                                                </a>
                                                <div class="description">
                                                    <h4 class="media-heading padding-none"><a href="">{{ man.name }}</a> </h4>
                                                    <small class="text-success"><i class="fa fa-check"></i> {{ (man.top == 1) ? 'Best Man en chef' : 'Best Man' }}</small></br>
                                                    {% if man.top == 1 %}
                                                        <span class="btn btn-circle btn-success" data-toggle="tooltip" data-original-title="A la une" data-placement="bottom"><i class="fa fa-certificate"></i></span>
                                                    {% endif %}
                                                    <a href="{{ path('best_edit', {'id' : man.id, 'dossier': dossier.id}) }}" class="btn btn-stroke btn-circle btn-success"><i class="fa fa-check"></i></a>
                                                    <a href="{{ path('best_delete', {'id' : man.id}) }}" class="btn btn-stroke btn-circle btn-danger"><i class="fa fa-times"></i></a>
                                                    <hr>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- // Gallery Layout END -->
                            </div>
                        </div>
                    </div>

                    <div class="innerAll">
                        <div class="widget widget-inverse widget-gallery" data-toggle="collapse-widget">
                            <div class="widget-head">
                                <h4 class="heading">Best Women</h4>
                                <a href="{{ path('best_create', {'id' : dossier.id}) }}" class="btn btn-xs btn-info pull-right">
                                    <i class="fa fa-plus fa-fw"></i> {{ 'Ajouter bestman'|upper }}
                                </a>
                            </div>
                            <div class="widget-body">
                                <!-- Gallery Layout -->

                                <div class="gallery gallery-2">
                                    <ul class="row list-unstyled" data-toggle="modal-gallery" data-target="#modal-gallery" id="gallery-4" data-delegate="#gallery-4">
                                        {% for women in bestwomen %}
                                            <li class="col-md-3">
                                                <a class="thumb" href="{{ women.assertPath|imagine_filter('my_thumb_admin_gallery') }}" data-gallery="gallery">
                                                    <img src="{{ women.assertPath|imagine_filter('my_thumb_admin_gallery') }}" alt="photo" data-toggle="prettyPhoto" class="img-responsive"/>
                                                </a>
                                                <div class="description">
                                                    <h4 class="media-heading padding-none"><a href="">{{ women.name }}</a> </h4>
                                                    <small class="text-success"><i class="fa fa-check"></i> {{ (women.top == 1) ? 'Best women en chef' : 'Best women' }}</small></br>
                                                    {% if women.top == 1 %}
                                                        <span class="btn btn-circle btn-success" data-toggle="tooltip" data-original-title="A la une" data-placement="bottom"><i class="fa fa-certificate"></i></span>
                                                    {% endif %}
                                                    <a href="{{ path('best_edit', {'id' : women.id, 'dossier' : dossier.id}) }}" class="btn btn-stroke btn-circle btn-success"><i class="fa fa-check"></i></a>
                                                    <a href="{{ path('best_delete', {'id' : women.id}) }}" class="btn btn-stroke btn-circle btn-danger"><i class="fa fa-times"></i></a>
                                                    <hr>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- // Gallery Layout END -->
                            </div>
                        </div>
                    </div>


                </div>
                <!-- // END col -->

            </div>

        </div>
        <!-- // END row -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/labstemplate/assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/plugins/breakpoints/breakpoints.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/core/js/animations.init.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/plugins/slimscroll/jquery.slimscroll.js?v=v1.2.3') }}"></script>

    <script src="{{ asset('bundles/labstemplate/assets/components/modules/admin/gallery/gridalicious/assets/lib/jquery.gridalicious.min.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/modules/admin/gallery/gridalicious/assets/custom/gridalicious.init.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/modules/admin/gallery/blueimp-gallery/assets/lib/js/blueimp-gallery.min.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/modules/admin/gallery/blueimp-gallery/assets/lib/js/jquery.blueimp-gallery.min.js?v=v1.2.3') }}"></script>


    <script src="{{ asset('bundles/labstemplate/assets/components/plugins/holder/holder.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/core/js/sidebar.main.init.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/core/js/sidebar.collapse.init.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/helpers/themer/assets/plugins/cookie/jquery.cookie.js?v=v1.2.3') }}"></script>
    <script src="{{ asset('bundles/labstemplate/assets/components/core/js/core.init.js?v=v1.2.3') }}"></script>

{% endblock %}