<div id="footer" class="hidden-print">
    <!--  Copyright Line -->
    <div class="copy">&copy; {{ 'now'|date('Y') }} - <a href="http://www.mosaicpro.biz">{{ 'Legend Photography' }}</a> - {{ 'Tous les droits réservés' }}. <a href="http://legend-photography.net" target="_blank">{{ 'Accedez au Site' }}</a> - {{ 'Version-betâ 0.1' }} <a target="_blank" href="#">changelog</a></div>
    <!--  End Copyright Line -->
</div>