<header id="header" class="full-header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="{{ path('homepage') }}" class="standard-logo" data-dark-logo="{{ asset('images/logo-dark.png') }}"><img src="{{ asset('images/logo-dark.png') }}" alt="legend Photography Logo"></a>
                <a href="{{ path('homepage') }}" class="retina-logo" data-dark-logo="{{ asset('images/logo-dark@2x.png') }}"><img src="{{ asset('images/logo-dark@2x.png') }}" alt="legend Photography Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li class="current menu"><a href="{{ path('about') }}"><div>{{ 'legend photography' }}</div></a></li>
                    <li class="menu"><a href="{{ path('blog_page') }}"><div>{{ 'Packages' }}</div></a>
                        <ul>
                            {%  for pack in packs %}
                                <li><a href="#"><div><i class="icon-stack"></i>{{ pack.name }}</div></a></li>
                            {% endfor %}
                        </ul>

                    </li>
                    <li><a href="#"><div>{{ 'Mariages' }}</div></a>
                        <ul>
                            {%  for type in types %}
                                <li><a href="#"><div><i class="icon-stack"></i>{{ type.name }}</div></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="menu"><a href="{{ path('blog_page') }}"><div>{{ 'Events' }}</div></a>
                        <ul>
                            {%  for event in events %}
                                <li><a href="#"><div><i class="icon-stack"></i>{{ event.name }}</div></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="menu"><a href="{{ path('blog_page') }}"><div>{{ 'Demande en mariage' }}</div></a></li>
                    <li class="menu"><a href="{{ path('blog_page') }}"><div>{{ 'Blog' }}</div></a></li>
                    <li class="menu"><a href="{{ path('contact_page') }}"><div>{{ 'Reservation' }}</div></a></li>
                </ul>



                <!-- Top Cart
                ============================================= -->
                <!-- Top Search
                ============================================= -->
                <!--<div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="#" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div><!-- #top-search end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->


