<section id="slider" class="slider-parallax swiper_wrapper clearfix">

    <div class="swiper-container swiper-parent">


            <div class="swiper-wrapper">
                {%  for slide in slides %}
                    <div class="swiper-slide dark" style="background-image: url('{{ asset(slide.assertPath|imagine_filter('slide')) }}');">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-center">
                                <h2 data-caption-animate="fadeInUp" style="color: {{ slide.textColor }}">{{ slide.title }}</h2>
                                <p data-caption-animate="fadeInUp" data-caption-delay="200" style="color: {{ slide.textColor }}">{{ slide.subTitle }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
        <div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
    </div>

</section>
