{% extends '::base.html.twig' %}
{% block menu %}
    {{ render(controller('LabsFrontBundle:Default:getMenuGlobal')) }}
{% endblock %}

{% block body %}
    <section id="slider" class="boxed-slider">

        <div class="container clearfix">

            <div class="fslider" data-easing="easeInQuad">
                <div class="flexslider">
                    <div class="slider-wrap">
                        {% for slide in slides %}
                            <div class="slide" data-thumb="{{ slide.assertPath|imagine_filter('image_profolio') }}">
                                <a href="#">
                                    <img src="{{ slide.assertPath|imagine_filter('slide_wedding') }}" alt="Slide 2">
                                    <div class="flex-caption slider-caption-bg">{{ slide.dossier.name }}</div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="heading-block center">
                    <h3>Some of our <span>Featured</span> Works</h3>
                    <span>We have worked on some Awesome Projects that are worth boasting of.</span>
                </div>
                {%  for type in TypeWeddings %}
                    <div class="fancy-title title-center title-dotted-border topmargin">
                        <h3>{{ type.name}}</h3>
                    </div>
                    <div id="oc-portfolio" class="owl-carousel portfolio-carousel oc-portfolio">
                        {% for gallery in type.gallery %}
                            <div class="oc-item">
                                <div class="iportfolio">
                                    <div class="portfolio-image">
                                        <a href="{{ path('wedding_view', {'id' : gallery.dossier.id , 'slug' : gallery.dossier.slug}) }}">
                                            <img src="{{ gallery.assertPath|imagine_filter('image_profolio') }}" alt="{{ gallery.dossier.name }}">
                                        </a>
                                        <div class="portfolio-overlay">
                                            <a href="{{ gallery.assertPath|imagine_filter('image_profolio_full') }}" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                            <a href="{{ path('wedding_view', {'id' : gallery.dossier.id , 'slug' : gallery.dossier.slug}) }}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                        </div>
                                    </div>
                                    <div class="portfolio-desc">
                                        <h3><a href="{{ path('wedding_view', {'id' : gallery.dossier.id , 'slug' : gallery.dossier.slug}) }}">{{ gallery.dossier.name }}</a></h3>
                                        <span><a href="#">{{ type.name}}</a> | <a href="{{ path('wedding_view', {'id' : gallery.dossier.id , 'slug' : gallery.dossier.slug}) }}">{{ gallery.dossier.created|date('d-M-Y')}}</a></span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

                <!--  bloc partenaire -->
                <div class="container clearfix">

                    <div class="clear"></div><div class="line"></div>

                    <h4 class="center">{{ 'Nos partenaires' }}</h4>

                    <ul class="clients-grid grid-6 bottommargin clearfix">
                        {% for partner in partners %}
                            <li><a href="{% if partner.website|length > 0 %}   {{ partner.website }} {% endif %}"><img src="{{ partner.assertPath|imagine_filter('logo_partenaire') }}" alt="Clients"></a></li>
                        {% endfor %}
                    </ul>

                </div>
                <!--  end bloc partenaire -->

            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {

            var ocPortfolio = $(".oc-portfolio");

            ocPortfolio.owlCarousel({
                margin: 20,
                nav: true,
                navText: ['<i class="icon-angle-left"></i>','<i class="icon-angle-right"></i>'],
                autoplay: false,
                autoplayHoverPause: true,
                dots: false,
                responsive:{
                    0:{ items:1 },
                    600:{ items:2 },
                    1000:{ items:3 },
                    1200:{ items:4 }
                }
            });

        });
    </script>
{% endblock %}