{% extends '::base.html.twig' %}
{% block menu %}
    {{ render(controller('LabsFrontBundle:Default:getMenuGlobal')) }}
{% endblock %}

{% block body %}
    <!-- Page Title
============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>{{ type.name }}</h1>
            <span>{{ 'Decouvrez toutes les photos '~ type.name }}</span>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">{{'Accueil'}}</a></li>
                <li class="active">{{ type.name }}</li>
            </ol>
        </div>

    </section><!-- #page-title end -->

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="clear"></div>

                <!-- Portfolio Items
                ============================================= -->
                <div id="portfolio" class="portfolio-3 clearfix">
                    {%  for media in medias %}
                        <article class="portfolio-item pf-media pf-icons">
                            <div class="portfolio-image">
                                <a href="{{ path('wedding_view', {'id' : media.dossier.id , 'slug' : media.dossier.slug}) }}">
                                    <img src="{{ media.assertPath|imagine_filter('image_profolio') }}" alt="{{ media.dossier.name }}">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="{{ media.assertPath|imagine_filter('image_profolio_full') }}" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                    <a href="{{ path('wedding_view', {'id' : media.dossier.id , 'slug' : media.dossier.slug}) }}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="{{ path('wedding_view', {'id' : media.dossier.id , 'slug' : media.dossier.slug}) }}">{{ media.dossier.name }}</a></h3>
                                <span><a href="{{ path('wedding_view', {'id' : media.type.id , 'slug' : media.type.slug}) }}">{{ type.name }} </a> | <a href="{{ path('wedding_view', {'id' : media.dossier.id , 'slug' : media.dossier.slug}) }}">{{ media.dossier.created|date('d-M-Y')}}</a></span>
                            </div>
                        </article>
                    {% endfor %}
                </div><!-- #portfolio end -->
                <div class="center">
                    {{ knp_pagination_render(medias) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

    <!-- Portfolio Script
    ============================================= -->
    <script type="text/javascript">

        jQuery(window).load(function(){

            var $container = $('#portfolio');

            $container.isotope({ transitionDuration: '0.65s' });

            $('#portfolio-filter a').click(function(){
                $('#portfolio-filter li').removeClass('activeFilter');
                $(this).parent('li').addClass('activeFilter');
                var selector = $(this).attr('data-filter');
                $container.isotope({ filter: selector });
                return false;
            });

            $('#portfolio-shuffle').click(function(){
                $container.isotope('updateSortData').isotope({
                    sortBy: 'random'
                });
            });

            $(window).resize(function() {
                $container.isotope('layout');
            });

        });

    </script><!-- Portfolio Script End -->

{% endblock %}